<ol>
    <li>What are the types of leaves I am entitled to?</li>
    <p>As of the Demo version goes, a ser is entitled to 'Earned Leave' leave type</p>
    <li>How should I apply for leave?</li>
    <p>In order to apply leave, users shall type Apply leave in the bot or click on the 'Absence' button in the main menu and then click on 'Apply Leave' after which bot will send a form which is required for the user to fill to apply leave.</p>
    <li>How many days of leave balance do i get?</li>
    <p>Each user is defaulted with 10 earned leaves per trial account.</p>
    <li>can i customize the feature available or maybe add a few more?</li>
    <p>Yes, one will have to contact our sales team and we shall take it forward from there.</p>
  </ol>