<div id="container">
    <div id="left">
        <h2>Absence</h2>
        <ul>
            <li>
                <p>Manage your leaves and get optional/mandatory holiday list(s) here.</p>
            </li>
        </ul>
        
        
    </div>
    <div id="center"></div>
    <div id="right">
        <h2>Approvals</h2>
        <ul>
            <li>
                <p>One stop shop for all your consolidated approvals here.</p>
            </li>
        </ul>
    </div>
</div>
<div id="second_container">
    <div id="second_left">
        <h2>Genie+</h2>
        <ul>
            <li>
                <p>Create incidents here.</p>
            </li>
        </ul>
    </div>
    <div id="second_center"></div>
    <div id="second_right">
        <h2>People Search</h2>
        <ul>
            <li>
                <p>Search employees in your organisation and get their public details here.</p>
            </li>
        </ul>
    </div>
</div>